{% extends 'base.html' %}
{% block page_content %}
{% load hitcount_tags %}
    
 <h3 class=" mt-2 mb-2" id="desc-tit"><strong>{{ object.title }}</strong></h3>
        <video controls width="100%">
            <source src="{{ object.video.url }}" type="video/mp4">
        </video>
    
  <small>{{ object.upload_date }}&nbsp;&nbsp;
            </small>|{% get_hit_count for object %}views👁
<hr />
      <p>{{ object.description }}</p>
  <div>
  <h2 class=" mt-4 text-primary text-center"><strong>Recommended <span>Videos</span></strong></h2>
  {% for video in popular_videos %}
   <div class="card mb-2 mt-10">
           <video class="card-image-top" controls autoplay muted>
                <source src="{{ video.video.url }}" type="video/mp4">
              </video>
            <div class="card-body">
                <h1 class="card-title"><a href="{{ video.slug }}">{{ p.title }}</a></h1>
<p>{% get_hit_count for video %}views👁</p>
            <small>{{ video.upload_date }}&nbsp;&nbsp;
            </small>
   <a href="{{ video.slug }}"
                   class="btn btn-primary">
                    View Video
                </a>
            </div>
        </div>
  {% endfor %}
    
{% endblock page_content %}